﻿@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "Sample Application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>                
            </p>
        </div>
    </section>
}
<h3>Sample Application Body:</h3>
<ol class="round">
    <li class="one">
        <h5>RAM Study</h5>
        Solomon developed the International Study of Plant Reliability and Maintenance Effectiveness (RAM Study) in partnership with industry leaders to identify and quantify areas for improved reliability and maintenance performance. This study provides the most comprehensive set of reliability and maintenance performance benchmarks in the industry. Over 1,000 plants with more than 8,000 process units have participated in the RAM Study. 
    </li>

    <li class="two">
        <h5>Why Participate</h5>
        If your plant mechanical availability is not well above 96%, you have valuable untapped margin. If your maintenance cost as a percent of plant replacement value is not well below 2%, you are spending too much. To enjoy the benefits of sustainable improvement, these two indicators must be in balance. The RAM Study benchmarks these and other key performance indicators (KPIs), and highlights where there is imbalance. To ensure you are getting the most out of your assets, Solomon’s reliability indices compare your performance to top-quartile performers and reveals where you can increase capacity without costly capital investment. To ensure you are getting the most out of your resources, Solomon’s maintenance indices compare your performance to top-quartile performers to show where you can reduce costly expenses without sacrificing performance.
    </li>
</ol>
