﻿@model Solomon.Example.Dtos.CustomerListDto

@{
    ViewBag.Title = "Customer List";
    //Layout = "~/Views/Shared/_Layout.cshtml";
 }

@if (Model.Customers.Count > 0)
{
    var grid = new WebGrid(Model.Customers, canSort: false, canPage: false);
    
    <div class="container-fluid ">
        Customer Grid    
        <div class ="row">
            @grid.GetHtml(
                tableStyle: "table table-striped table-bordered",
                columns: grid.Columns(
                    grid.Column(columnName: "Title", header: "Title"),
                    grid.Column(columnName: "FirstName", header: "First Name"),
                    grid.Column(columnName: "LastName", header: "Last Name"),
                    grid.Column(columnName: "CompanyName", header: "Company Name"),
                    grid.Column(columnName: "SalesPerson", header: "Sales Person"),
                    grid.Column(columnName: "EmailAddress", header: "Email Address"),
                    grid.Column(columnName: "Phone", header: "Phone", style: "width:300px")
        
            ))
        </div> 
    </div>
}

